<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="product_olx2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

</head>

<body>
    <!-- ========= navbar code ============-->
    <div class="header">
        <div class="navbar">
            <a href="\loginsystem\welcome.php"><img src="images/logo.png" alt="logo"></a>
            <div class="select_country" id="country">
                <div class="select">
                    <p id="text">Select your country</p>
                    <i class="fa-solid fa-chevron-down" id="moving"></i>
                </div>
                <ul class="option_box" id="list">
                    <li class="option" onclick="myfunction('India')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>India</p>
                    </li>
                    <li class="option" onclick="myfunction('USA')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>USA</p>
                    </li>
                    <li class="option" onclick="myfunction('China')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>China</p>
                    </li>
                    <li class="option" onclick="myfunction('Brazil')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Brazil</p>
                    </li>
                    <li class="option" onclick="myfunction('Australia')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Australia</p>
                    </li>

                </ul>
            </div>


            <div class="search_box">
                <input type="text" class="search_class" id="search_id"
                    placeholder="Find Cars, Mobile Phones and more...">
                <p><i class="fa-solid fa-magnifying-glass"></i></p>
            </div>

            <div class="language">
                <p id="eng_tag">English</p>
                <ul class="hin_eng">
                    <li onclick="languageolx('हिन्दी')">हिन्दी</li>
                    <li onclick="languageolx('English')">English</li>
                </ul>
            </div>

            <div class="message">
                <a href="chat_box.html"><i class="fa-regular fa-comment"></i></a>
            </div>

            <div class="bell">
                <i class="fa-regular fa-bell"></i>
            </div>

            <div class="your_logo">
                <div class="client_img" id="client_img_id">
                    <img src="images/pic3.jpg" alt="">
                </div>

                <div class="drop_down" id="dropdown_id">
                    <div class="nameandimg">
                        <img src="images/pic3.jpg" alt="">
                        <p>Login</p>
                    </div>
                    <ul>
                    <a href="\loginsystem\signup.php">
                        <li>
                            <i class="fa-regular fa-user"></i>
                            <p> Sign Up</p>
                        </li>
                    </a>
                    <a href="\loginsystem\login.php">
                        <li>
                            <i class="fa-solid fa-box"></i>
                            <p> Login</p>
                        </li>
                    </a>
                        <hr>
                        <li>
                            <i class="fa-solid fa-circle-question"></i>
                            <p> Help</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-gear"></i>
                            <p> Settings</p>
                        </li>
                        <hr>
                    <a href="\loginsystem\logout.php">
                        <li>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p> Log Out</p>
                        </li>
                    </a>
                    </ul>
                </div>
            </div>


            <div class="selling_page">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button>
                    <i class="fa-solid fa-plus"></i>
                    <p>SELL</p>
                </button>
                </a>
            </div>

        </div>
    </div>


    <div class="product_img">
        <div class="image_description">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide"><img src="images/pro_1.jpg"></div>
                    <div class="swiper-slide"><img src="images/pro_2.jpg"></div>
                    <div class="swiper-slide"><img src="images/pro_3.jpg"></div>
                    <div class="swiper-slide"><img src="images/pro_4.jpg"></div>

                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev" id="prev"></div>
                <div class="swiper-button-next" id="next"> </div>
            </div>

            <div class="description">
                <h3>Description</h3>
                <p>Mi TV Stick <br> Dolby Atmos ,Latest Android Tv Supports 4K
                    and also supports Alexa <br>
                    Condition : New <br>
                    MRP 3,500</p>
            </div>
        </div>

        <div class="product_details">
            <div class="box">
                <div class="price">
                    <h3>₹3,500</h3>
                    <div>
                        <p><i class="fa-solid fa-share-nodes"></i></p>
                        <p><i class="fa-regular fa-heart"></i></p>
                    </div>
                </div>
                <span>Mi TV Stick</span>
                <div class="location">
                    <p>Graphic Era Hill University, Dehradun, Uttarakhand</p>
                    <p>Today</p>
                </div>
            </div>
            <div class="box" id="box2">
                <p class="seller_description">Seller Description </p>
                <div class="seller_detail">
                    <img src="images/pic2.jpg" alt="">
                    <div>
                        <h2>Andrew Tate</h2>
                        <p>Member Since Nov 2022</p>
                    </div>
                </div>
                <a href="chat_box.html">Chat with Seller</a>
            </div>

            <div class="box" id="box3">
                <h2>Posted in </h2>
                <p>Graphic Era Hill University, Dehradun, Uttarakhand</p>
                <img src="images/location.png">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        //  ======== navbar code ========= 
        let country = document.getElementById('country');
        let moving = document.getElementById('moving');
        let text = document.getElementById('text');
        let list = document.getElementById('list');

        country.addEventListener('click', () => {
            list.classList.toggle('hidden')
            moving.classList.toggle('rotate')
        });
        function myfunction(variable) {
            text.innerHTML = variable;
        }

        let eng_tag = document.getElementById('eng_tag');
        let hin_tag = document.querySelector('.hin_eng');
        let language = document.querySelector('.language');
        language.addEventListener('click', () => {
            hin_tag.classList.toggle('display_div');
        });

        function languageolx(variable) {
            eng_tag.innerHTML = variable;
        }

        let client_img_id = document.getElementById('client_img_id');
        let dropdown_id = document.getElementById('dropdown_id');
        client_img_id.addEventListener('click', () => {
            dropdown_id.classList.toggle('block_div')
        });


        // product image 
        const swiper = new Swiper('.swiper', {
            loop: true,

            pagination: {
                el: '.swiper-pagination',
            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>


</body>

</html>